[submodule "submodules/KnowWhat"]
	path = submodules/KnowWhat
	url = https://github.com/hokindeng/KnowWhat
[submodule "submodules/maze-dataset"]
	path = submodules/maze-dataset
	url = https://github.com/understanding-search/maze-dataset
[submodule "submodules/HunyuanVideo-I2V"]
	path = submodules/HunyuanVideo-I2V
	url = https://github.com/Tencent-Hunyuan/HunyuanVideo-I2V.git
[submodule "submodules/LTX-Video"]
	path = submodules/LTX-Video
	url = https://github.com/Lightricks/LTX-Video.git
[submodule "submodules/VideoCrafter"]
	path = submodules/VideoCrafter
	url = https://github.com/AILab-CVC/VideoCrafter.git
[submodule "submodules/DynamiCrafter"]
	path = submodules/DynamiCrafter
	url = https://github.com/Doubiiu/DynamiCrafter.git
[submodule "submodules/python-chess"]
	path = submodules/python-chess
	url = https://github.com/niklasf/python-chess.git
[submodule "submodules/RAVEN"]
	path = submodules/RAVEN
	url = https://github.com/WellyZhang/RAVEN.git
[submodule "submodules/morphic-frames-to-video"]
	path = submodules/morphic-frames-to-video
	url = https://github.com/morphicfilms/frames-to-video.git
